<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="hello.dao"/>
    <context:component-scan base-package="hello.service"/>
    <context:component-scan base-package="message.receiver"/>

    <import resource="classpath:/spring-hibernate.xml"/>
    <import resource="classpath:/spring-jms-receiver.xml"/>

</beans>